@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&family=Open+Sans:wght@300&display=swap');

* {
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

h1{
    text-align: left;
    line-height: 44px;
    color: black;
    font-size: 44px;
}
p{
    text-align: left;
    line-height: 22px;
    color: black;
    font-size: 20px;
}
ul li{
    text-align: left;
    line-height: 22px;
    font-size: 15px;


}
.div-body {
    border: 1px solid black;
    border-collapse: collapse;
}
